{
  "extends": "ess",
  "parser": "babel-eslint",
  "root": true,
  "rules": {
    "func-names": 0,
    "no-alert": 0,
    "no-unused-vars": [2, {"vars": "local", "args": "after-used", "argsIgnorePattern": "^(e|err|error|event|name|oldValue|newValue)$|__$"}]
  },
  "globals": {
    "__DEV__": true,
    "jasmine": true,
    "spyOn": true,
    "it": true,
    "xit": true,
    "describe": true,
    "xdescribe": true,
    "expect": true,
    "done": true,
    "by": true,
    "protractor": true,
    "$": true,
    "element": true,
    "beforeEach": true,
    "afterEach": true,
    "beforeAll": true,
    "afterAll": true,
    "browser": true
  }
}
